<footer class="footer pt-3  ">
    <div class="container-fluid">
        <div class="row align-items-center justify-content-lg-between">
            <div class="col-lg-6 mb-lg-0 mb-4">
                <div class="copyright text-center text-sm text-muted text-lg-start">
                    © 2025, made by
                    <a href="#" class="font-weight-bold" target="_blank">S&B</a> for a better web apps.
                </div>
            </div>

        </div>
    </div>
</footer>
</div>
</main>

<!--   Core JS Files   -->
<script src="../assets/js/core/popper.min.js"></script>
<script src="../assets/js/core/bootstrap.min.js"></script>
<script src="../assets/js/plugins/perfect-scrollbar.min.js"></script>
<script src="../assets/js/plugins/smooth-scrollbar.min.js"></script>
<script src="../assets/js/plugins/datatables.js"></script>
<script src="../assets/js/plugins/quill.min.js"></script>
<script src="https://code.jquery.com/jquery-3.7.1.js"></script>
<script src="https://cdn.datatables.net/2.3.0/js/dataTables.js"></script>

<script>
    new DataTable('#datatable', {

    });
</script>
<!-- Github buttons -->
<script async defer src="https://buttons.github.io/buttons.js"></script>
<!-- Control Center for Soft Dashboard: parallax effects, scripts for the example pages etc -->
<script src="../assets/js/soft-ui-dashboard.min.js?v=1.1.0"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script>
    var pageName = "<%- pageName %>";
    console.log("pageName: ", pageName);

    // Réinitialiser les liens
    $('ul li .nav-link').removeClass("active bg-gradient-dark");
    $('ul li .nav-link .nav-link-text').removeClass("text-white");

    // Définir l'ID correspondant à la page
    var activeLinkId;
    switch (pageName) {
        case "Dashboard":
            activeLinkId = "#dashboard";
            break;
        case "Products":
            activeLinkId = "#products";
            break;
        case "Category":
            activeLinkId = "#category";
            break;
        case "Packs":
            activeLinkId = "#packs";
            break;
        case "Client":
            activeLinkId = "#client";
            break;
        case "Livraison":
            activeLinkId = "#livraison";
            break;
        case "Commande":
            activeLinkId = "#commande";
            break;
        default:
            activeLinkId = null;
    }

    // Appliquer les styles si une correspondance est trouvée
    if (activeLinkId) {
        $(activeLinkId).addClass("active bg-gradient-success");
        $(activeLinkId).find(".nav-link-text").addClass("text-white");
        $(activeLinkId).find(".fa-solid").css("color", "white");
    }
</script>

</body>

</html>