<%- include('./partials/sidebar'); %>
    <%- include('./partials/header'); %>

        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

        <div class=" my-5">

            DASHBOARD

        </div>

        <%- include('./partials/footer'); %>