<%- include('./partials/sidebar'); %>
    <%- include('./partials/header'); %>

        <div class="card">

            <div class="card-header pb-0">
                <div class="d-lg-flex">
                    <div>
                        <h5 class="mb-0">All Products</h5>
                        <p class="text-sm mb-0">
                            A lightweight, extendable, dependency-free javascript HTML table plugin.
                        </p>
                    </div>
                </div>
            </div>
            <div class="card-body px-0 pb-0">
                <div id="editor">
                    <p>Hello World!</p>
                    <p>Some initial <strong>bold</strong> text</p>
                    <p><br></p>
                </div>
            </div>
        </div>


        <%- include('./partials/footer'); %>