<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="apple-touch-icon" sizes="76x76" href="../../../assets/img/apple-icon.png">
    <link rel="icon" type="image/png" href="../../../assets/img/favicon.png">
    <title>
        CMS Platform
    </title>

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />
    <link id="pagestyle" href="../../../assets/css/soft-ui-dashboard.min.css?v=1.0.7" rel="stylesheet" />
    <link rel="stylesheet" href="../assets/css/style.css" rel="stylesheet">
    <style>
        .async-hide {
            opacity: 0 !important
        }
    </style>

</head>

<body class="">

    <main class="main-content  mt-0">
        <section>
            <div class="page-header min-vh-100">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-4 col-lg-5 col-md-7 d-flex flex-column mx-lg-0 mx-auto">
                            <div class="card card-plain">
                                <div class="card-header pb-0 text-start">
                                    <h4 class="font-weight-bolder text-red">Sign In</h4>
                                </div>
                               
                                
                                <div class="card-body">
                                    <form role="form" action="/login" method="post">
                                        <% if (error === 'missing') { %>
                                            <p class="text-danger">Please provide both username and password.</p>
                                        <% } else if (error === 'user-not-found') { %>
                                            <p class="text-danger">User not found. Please check your credentials.</p>
                                        <% } else if (error === 'invalid-credentials') { %>
                                            <p class="text-danger">Invalid credentials. Please try again.</p>
                                        <% } else if (error === 'server-error') { %>
                                            <p class="text-danger">An error occurred on the server. Please try again later.</p>
                                        <% }  else if (error === 'no-token') { %>
                                            <p class="text-danger">Veuillez vous connecter.</p>
                                        <% } else if (error === 'no-permission') { %>
                                            <p class="text-danger">You do not have permission to access this page. Please contact your administrator.</p>
                                        <% } else{  %>
                                            <p class="text-danger"><%= error %></p>
                                        <% } %>
                                        <div class="mb-3">
                                            <input id="username" name="username" type="text" class="form-control form-control-lg" placeholder="Username">
                                        </div>
                                        <div class="mb-2">
                                            <input id="password" name="password" type="password" class="form-control form-control-lg" placeholder="Password">
                                        </div>
                                        <div class=" form-check form-switch ">
                                        </div>
                                        <div class="text-center ">
                                            <button type="submit" class="btn btn-lg bg_color text-white btn-lg w-100  mb-0 ">Sign
                                            in</button>
                                        </div>
                                    </form>
                                </div>

                            </div>
                        </div>
                        <div class="col-6 d-lg-flex d-none h-100 my-auto pe-0 position-absolute top-0 end-0 text-center justify-content-center flex-column ">
                            <div class="position-relative h-100 m-3 bg_color px-7 border-radius-lg d-flex flex-column justify-content-center ">
                                <img src="../../../assets/img/shapes/pattern-lines.svg " alt="pattern-lines " class="position-absolute opacity-4 start-0 ">
                                <div class="position-relative ">
                                    <img class="max-width-400 w-75 position-relative z-index-2 " src="../../assets/img/rb_3152.png" alt="chat-img ">
                                </div>
                                <h4 class="mt-5 font-weight-bolder text-uppercase text-white " >CMS Platform</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <!--   Core JS Files   -->
    <script src="../../../assets/js/core/popper.min.js "></script>
    <script src="../../../assets/js/core/bootstrap.min.js "></script>

    <!-- Github buttons -->
    <script async defer src="https://buttons.github.io/buttons.js "></script>
    <!-- Control Center for Soft Dashboard: parallax effects, scripts for the example pages etc -->
    <script src="../../../assets/js/soft-ui-dashboard.min.js?v=1.0.7 "></script>
</body>

</html>