<%- include('./partials/sidebar'); %>
    <%- include('./partials/header'); %>

        <div class="container-fluid py-4">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <!-- Card header -->
                        <div class="card-header pb-0">
                            <div class="d-lg-flex">
                                <div>
                                    <h5 class="mb-0">All Products</h5>
                                </div>
                                <div class="ms-auto my-auto mt-lg-0 mt-4">
                                    <div class="ms-auto my-auto">
                                        <a href="#" class="btn btn-primary btn-sm mb-0" data-bs-toggle="modal" data-bs-target="#import">+&nbsp; New Product</a>


                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-body px-0 pb-0">
                            <div class="table-responsive">
                                <div class="dataTable-wrapper dataTable-loading no-footer sortable searchable fixed-columns">

                                    <div class="dataTable-container">
                                        <table class="table align-items-center mb-0">
                                            <thead>
                                                <tr>
                                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Name</th>
                                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Category</th>
                                                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Price</th>
                                                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Stock</th>
                                                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Best selling</th>
                                                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Operations</th>
                                                    <th class="text-secondary opacity-7"></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        <div class="d-flex px-2 py-1">
                                                            <div class="d-flex flex-column justify-content-center">
                                                                <h6 class="mb-0 text-sm">mask</h6>
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <p class="text-xs font-weight-bold mb-0">Manager</p>
                                                    </td>
                                                    <td class="align-middle text-center text-sm">
                                                        <span class="badge badge-sm ">20 000 DA</span>
                                                    </td>
                                                    <td class="align-middle text-center">
                                                        <span class="text-secondary text-xs font-weight-bold">1000</span>
                                                    </td>
                                                    <td class="align-middle text-center text-sm">
                                                        <span class="badge badge-sm bg-gradient-success">&nbsp;&nbsp;</span>
                                                    </td>
                                                    <td class="align-middle">
                                                        <a href="javascript:;" class="text-secondary font-weight-bold text-xs" data-toggle="tooltip" data-original-title="Edit user">
                                                            <i class="fas fa-edit"></i>
                                                        </a>
                                                        <a href="javascript:;" class="text-secondary font-weight-bold text-xs" data-toggle="tooltip" data-original-title="Edit user">
                                                            <i class="fas fa-trash    "></i>
                                                        </a>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>


        <div class="modal fade" id="import" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog mt-lg-10 modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="ModalLabel">ADD product</h5>
                        <i class="fas fa-upload ms-3"></i>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-lg-5">
                                <label for="name">Name</label>
                                <div class="input-group mb-3">
                                    <input id="name" name="name" type="text" class="form-control" placeholder="name..." aria-label="name" aria-describedby="name-addon">
                                </div>
                            </div>

                            <div class="col-lg-5">
                                <label for="Category">Category</label>
                                <div class="input-group mb-3">
                                    <select class="form-control" id="Category" name="Category">
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-lg-12">
                                <label for="description">description</label>
                                <div class="input-group mb-3">
                                    <textarea name="description" id="description" rows="4" class="form-control" placeholder="description of the product..."></textarea>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <label for="price">Price</label>
                                <div class="input-group mb-3">
                                    <input id="price" name="price" type="number" class="form-control" placeholder="price..." aria-label="price" aria-describedby="price-addon">
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <label for="stock">Stock</label>
                                <div class="input-group mb-3">
                                    <input id="stock" name="stock" type="number" class="form-control" placeholder="stock..." aria-label="stock" aria-describedby="stock-addon">
                                </div>
                            </div>
                            <div class="col-lg-4 d-flex align-items-center mt-3">
                                <div class="form-check form-switch">
                                    <input class="form-check-input" type="checkbox" id="best_selling" name="best_selling">
                                    <label class=" form-check-label ms-2 " for="best_selling"><b>Best selling</b></label>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="card">
                                    <form class="form-control dropzone dz-clickable" id="dropzone">

                                        <div class="dz-default dz-message"><button class="dz-button" type="button">Drop files here to upload</button></div>
                                    </form>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn bg-gradient-secondary btn-sm" data-bs-dismiss="modal">Close</button>
                        <button type="button" id="add_Prod" class="btn btn-primary btn-sm">ADD</button>
                    </div>
                </div>
            </div>
        </div>
        <script src="../assets/js/plugins/dropzone.min.js"></script>
        <script type="text/javascript">
            Dropzone.autoDiscover = false;
            var drop = document.getElementById('dropzone')
            var myDropzone = new Dropzone(drop, {
                url: "/file/post",
                addRemoveLinks: true

            });
        </script>
        <script>
            //use jQuery to create the product from the modal content
            $(document).ready(function() {
                $('#add_Prod').click(function() {
                    var name = $('#name').val();
                    var category = $('#Category').val();
                    var description = $('#description').val();
                    var price = $('#price').val();
                    var stock = $('#stock').val();
                    var best_selling = $('#best_selling').is(':checked');
                    var images = myDropzone.files;
                    console.log(name, category, description, price, stock, best_selling, images);

                    // now i want to send the data to the server via axios
                    axios.post('products/addproduct', {
                            name: name,
                            category: category,
                            description: description,
                            price: price,
                            stock: stock,
                            best_selling: best_selling,
                            images: images
                        })
                        .then(function(response) {
                            console.log(response);
                        })
                        .catch(function(error) {
                            console.log(error);
                        });
                });
            });
        </script>

        <%- include('./partials/footer'); %>