<form hx-post="/api/defect" hx-target="this" hx-swap="none">
    <div class="row">
        
        <label for="name">Defect</label>
        <div class="input-group col-sm-6 mb-3">
            <input type="text" name="name" id="name" class="form-control" placeholder="Defect" value="" required>
        </div>

        <!-- Error message area -->
        <div id="add-error-message" class="d-none text-danger fw-bold">
            
        </div>

        <div class="text-center ">
            <button type="submit" class="submit_btn btn btn-md bg_black text-white  mb-0 ">Submit</button>
        </div>
    </div>
</form>

<script>
    $(".modal-title").text("<%=form_title%>");

    htmx.on('htmx:afterRequest', (e) => {

        if(e.detail.xhr.responseURL.includes("/api/defect") && e.detail.xhr.status === 201) {
            $("#add-error-message").addClass("d-none");
            $("#add-error-message").html("");

            $("#dialog").modal('hide');
            $(".toast-success-body").text("defect added successfully");
            $(".toast-success").show();
            
            setTimeout(() => {
                location.reload();
                $(".toast-success-body").text("");
                $(".toast-success").hide();
            }, 1000);

        }

    });

    htmx.on('htmx:responseError', (e) => {
        const url = e.detail.xhr.responseURL;
        const status = e.detail.xhr.status;

        if (url.includes("/api/defect")) {
            if (status === 400) {
                // Edit form error handling
                $("#add-error-message").removeClass("d-none");
                let message = JSON.parse(e.detail.xhr.responseText).error;
                $("#add-error-message").html(message);

                setTimeout(() => {
                    $("#add-error-message").addClass("d-none");
                    $("#add-error-message").html("");
                }, 5000);
            }

        }
    });

</script>